/* You can add global styles to this file, and also import other style files */
.bg-color{
    /* background-color:#f792ed; */
    /* background-color: #e09da9; */
    /* background-color: #edb9c3;  last used */
    /* background-color: #f5a6e5; */
    /* background-color: #b691ba; */
    background-color: #ebaede;
    /* background-color: #d3a0eb; */
    /* background-color:#d6a4ed; */
    /* background-color:#e97feb; */

    background-size: cover;
    height:700px;
}